<template>
   <div class="container">
    <center> <img alt="Vue logo" src="../assets/tisi_logo.png"> 
         <h1 class="bb">ระบบลงทะเบียนเพื่อขอใช้ QR-CODE</h1>
    </center><br>
    
  </div>


</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

// export default {
//   name: 'App',
//   components: {
//     HelloWorld
//   }
// }
</script>

<style>
#bb {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>

