<template>
    <!-- <div id="Logo">
        <img alt="TISI logo" src="../assets/tisi_logo.png">
    </div>
    <div>

    </div> -->

<div class="container">
  <div class="container has-text-centered"> 
    <div class="column is-8 is-offset-2"> 
      <div class="box">
        <div class="box">
            <h1 class="title">
              <img alt="TISI logo" src="../assets/tisi_logo.png">
            </h1>
            <form>
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-medium" type="Number" placeholder="กรอกเลขนิติบุคคล">
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="at" />
                  </span>
                </div>
              </div>

              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input is-medium" type="password" placeholder="รหัสผ่าน">
                  <span class="icon is-small is-left">
                    <font-awesome-icon icon="at" />
                  </span>
                </div>
              </div>
              <button class="button is-block is-danger is-medium is-fullwidth">Login</button>
            </form>

        </div>
        <div class="title has-text-grey is-5">หากยังไม่เคยลงทะเบียน <a href="#">[ลงทะเบียน]</a></div>
      </div>
      
    </div>

  </div>
</div>

  <!-- <section class="hero is-fullheight is-medium is-bold">
    <font-awesome-icon icon="coffee" />
        <div class="hero-body">
          <div class="container">
            <div class="columns is-centered">
              <article class="card is-rounded">
                <div class="card-content">
                  <h1 class="title">
                                   
                   
                    <img alt="TISI logo" src="../assets/tisi_logo.png">
                  </h1>
                  <p class="">
                    <input class="input" type="email" placeholder="Email">
                    <span >
      <font-awesome-icon icon="coffee" />
    </span>
                  </p>
                  <div> </div>
                  <p class="control has-icon">
                    <input class="input" type="password" placeholder="Password">
                    <i class="fa fa-lock"></i>
                  </p>
                  <p class="control">
                    <label class="checkbox">
                      <input type="checkbox">
                      Remember me
                    </label>
                  </p>
                  <p class="control">
                    <button class="button is-primary is-medium is-fullwidth">
                      <i class="fa fa-user"></i>
                      Login
                    </button>
                  </p>
                </div>
              </article>
            </div>
          </div>
    </div>

    <div class="field">
      <label class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-success" type="text" placeholder="Text input" value="bulma">
        <span class="icon is-small is-left">
          <font-awesome-icon icon="user" />
        </span>
      </div>
    </div>
    
  </section> -->




</template>


<style>
  /* #Logo {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  } */
</style>