<template>
<div class="container">
  <div class="container has-text-centered"> 
    <div class="column is-9 is-offset-2"> 
      <div class="box">
        <div class="box">
            <h1 class="title">
            Link: https://appdb.tisi.go.th/Qrocde:12345677898
            </h1>
           <center> <img alt="Vue logo" src="../assets/qrcode.png"> 
              <h1 class="bb">ผู้ประกอบการสามารถนำลิงก์นี้ เพื่อสร้าง QR-code เพื่อ ลิงก์กลับมายังระบบ สมอ. ได้</h1>
          </center><br>
            <!-- <p align="left">:</p> -->

        

        <!-- <div class="title has-text-grey is-5">หากยังไม่เคยลงทะเบียน <a href="#">[ลงทะเบียน]</a></div> -->
      </div>
      </div>
    </div>

  </div>
</div>
</template>