<template>
<div class="container">
  <div class="container has-text-centered"> 
    <div class="column is-8 is-offset-2"> 
      <div class="box">
        <div class="box">
            <h1 class="title"><p align="left">
            ข้อมูล ผู้ประกอบการ
            </p></h1>
            <p align="left">เลขนิติบุคคล:</p>
            <p align="left">ชื่อบริษัท:</p>
            <p align="left">สถานที่ตั้ง:</p>
            <!-- <p align="left">:</p> -->

        </div>
        <div class="box">
            <h1 class="title"><p align="left">
            ข้อมูลจาก API กรมพัฒนาธุรกิจการค้า
            </p></h1>
            <p align="left">เลขนิติบุคคล:</p>
            <p align="left">ชื่อบริษัท:</p>
            <p align="left">สถานที่ตั้ง:</p>
            <p align="left">สถานะ:</p>
            <!-- <p align="left">:</p> -->

        </div>

        <div class="box" >
           <h1 class="title"> <p align="left"><b>ข้อมูลใบอนุญาต</b></p> </h1>
            <p align="left">ใบอนุญาต: <select type="text"> <option> ===== ใบอนุญาต ===== </option> </select>
            <p align="left">รายละเอียด ผลิตภัณฑ์:</p>
            <p align="left">รายละเอียด ผลิตภัณฑ์:</p>
            <p align="left"><input type="radio">ข้อมูลถูกต้อง</p>
            <p align="left"><input type="radio">ข้อมูลไม่ถูกต้อง</p>
            <p align="left">แก้ไขข้อมูล: <input type="text"></p>
        </div>

                 <div class="box">
            <h1 class="title"><p align="left">
            QR-CODE ที่ได้รับแล้ว
            </p></h1>
            <p align="left">เลขที่ใบอนุญาต:</p>
            <p align="left">Link:</p>

            <!-- <p align="left">:</p> -->

        </div>

        <div class="box" >
          <h1 class="title"> <p align="left"><b>รายละเอียดการขอ QR-CODE</b></p></h1>
          <p align="left">มอก.: <input type="text"></p>
           <p align="left">ชื่อผลิตภัณฑ์: <input type="text"></p>
           <p align="left">ตราสินค้า: <input type="text"></p>
           <p align="left">ผู้ผลิต/ผู้นำเข้า: <input type="text"></p>
           <p align="left">โรงงานผลิต: <input type="text"></p>
           <p align="left">ภาพตำแหน่งที่แสดงเครื่องหมาย: <input type="text"></p>
           <p align="left">ผู้ขอนุญาต: <input type="text"></p>
           <p align="left">ใบอนุญาต: <select type="text"> <option> ===== ใบอนุญาต ===== </option> </select></p>
        </div>
            <button> บันทึกข้อมูล </button>

        <!-- <div class="title has-text-grey is-5">หากยังไม่เคยลงทะเบียน <a href="#">[ลงทะเบียน]</a></div> -->
      </div>
      
    </div>

  </div>
</div>
</template>