
    <template>
    <div>
        <router-link to="/">Home</router-link>
        {{ ' | ' }}
        <router-link to="/login">login</router-link>
        {{ ' | ' }}
        <router-link to="/profiles">ประกาศระเบียบ</router-link>
        {{ ' / '}}
        <router-link to="/trader">เมื่อ Login ผ่าน </router-link>
         {{ ' / ' }}
        <router-link to="/Qrcode">เมื่อบันทึกข้อมูล ระบบ จะGen Link QRcode</router-link>
        <!--{{ ' | ' }}
        <router-link to="/login">Login</router-link>
        {{ ' | ' }}
        <router-link to="/nested">Nested</router-link>
        {{ ' | ' }}
        <router-link to="/chart">Chart</router-link>
        {{ ' | ' }}
        <router-link to="/post">Post</router-link>
        {{ ' | ' }}
        <router-link to="/user">User</router-link>
        {{ ' | ' }}
        <router-link to="/profile">Profile</router-link> -->
    </div>
</template>
