<template>
    <div class="container">
        <section>
            <router-view />
            <hr>
            <Navbar />
        </section>
    </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
    components: {
        'Navbar': Navbar,
    }
}
</script>